/**
* Table Of Contents
* 1. Variables
* 2. General
* 3. Keyboard
* 4. Grid columns
* 5. GIF
*   5.1. Animations
*/
/* 1. Variables */
/* 2. General */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin:0;
  padding:0;
  align-items: center;
  
  background-color: #54d9d1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 5vw;
  overflow: hidden;

  width: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  text-align: center;
}

/* 3. Keyboard */
.keyboard {
    position: fixed;
    padding: 2rem !important;
    /* display: flex; */
    align-items: center;
    justify-content: center;
  bottom: 0;
  background-color: #fcf0e4;
  /* border-radius: 5px; */
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit,minmax(1rem,1fr));
  grid-template-rows: repeat(auto-fit, 2rem);
  padding: 12px;
  width: 100% !important;
  /* width: -webkit-fit-content !important; */
  /* width: -moz-fit-content; */
  /* width: fit-content; */


}
.keyboard__key {
    max-width: 80%;
    width: auto;
    margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-family: "Source Code Pro", monospace;
  outline: none;
  padding: 12px;
}
.keyboard__key:hover, .keyboard__key:focus {
  font-weight: 700;
}
.keyboard__key:active, .keyboard__key.active {
  box-shadow: none;
  font-weight: 400;
  transform: translate(2px, 2px);
}
.keyboard__key--general {
  background-color: #f27a9b;
  box-shadow: 2px 2px 0 0 #a9113a;
}
.keyboard__key--special {
  background-color: #eb7131;
  box-shadow: 2px 2px 0 0 #602709;
}

.col-span-2 {
  align-items: center;
  grid-column: span 2;
  justify-content: center;
}
#div-input {
 
  caret-color: rgb(0, 0, 0);
  /* Cambia el color del cursor de inserción */
  cursor: pointer; /* Cambia el estilo del cursor al pasar sobre el contenedor */
}

.profile--dark{
  background-color: rgb(77, 77, 79);
}